<!DOCTYPE html>
<html xmlns:width="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <title>Python Project - www.deepakgyawali.com.np</title>
</head>
<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
    </nav>

    <div class="container" style= "width: 50% ; font-size: small; height: 100px;">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
         <div style="align-content: center">
              <h5>
                  <a style="color: black" href="{% url 'index' %}">Home</a>
                  <a style="color: black; padding-left: 20px" href="{% url 'customer' %}">Customer</a>
                  <a style="color: black; align-content: left; padding-left: 20px" href="{% url 'login' %}">Login</a>
                  <a style="color: black; align-content: left; padding-left: 20px" href="{% url 'search' %}">Search</a>
              </h5>
        <h1>User Registration</h1>
        <div class="container">
    <form method="post" novalidate>
      {% csrf_token %}

      {% include 'includes/form_registration.html' with form=form %}

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

      </div>

    </div> <!-- /container -->


</body>
</html>